.link-fix {
  text-decoration: none;
  color: var(--n-text-color);
}

.link-fix:hover {
  text-decoration: underline;
}

.date-link-fix {
  color: #7f7f7f;
  text-decoration: none;
}

.date-link-fix:hover {
  text-decoration: underline;
}
